<div class="col-12 p10">
    <h1>Workday calendar</h1>

    <div class="col-4 float-start">
        <div class="input-group col-12">
            <label for="startdate">Start date</label>
            <p-calendar id="startdate" class="calendar-input" [(ngModel)]="startDate" [timeOnly]="false"
                        [showTime]="true"
                        [hourFormat]="'24'"></p-calendar>
        </div>

        <div class="input-group col-12 pt20">
            <label for="startworkday">Start time workday</label>
            <p-calendar id="startworkday" class="calendar-input" [(ngModel)]="startWorkday" [timeOnly]="true"
                        [showTime]="true"
                        [hourFormat]="'24'"></p-calendar>
        </div>


        <div class="input-group col-12 pt20">
            <label for="endworkday">End time workday</label>
            <p-calendar id="endworkday" class="calendar-input" [(ngModel)]="endWorkday" [timeOnly]="true"
                        [showTime]="true"
                        [hourFormat]="'24'"></p-calendar>
        </div>
    </div>

    <div class="col-4 float-start">
        <div class="input-group float-start">
            <label for="holiday-date">Holiday date</label>
            <p-calendar id="holiday-date" class="calendar-input" [(ngModel)]="currentHoliday" [timeOnly]="false"
                        [showTime]="false"></p-calendar>
        </div>
        <div class="float-start pt10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="isRecurring" value=""
                       id="recurringholiday"/>
                <label for="recurringholiday">Recurring</label>
            </div>
        </div>
        <div class="float-start pl60 pt10">
            <button (click)="addHoliday()">Add holiday</button>
        </div>
        <div *ngIf="holidayExists" class="col-12 float-start">
            <small class="red-text">Holiday already exists</small>
        </div>

        <div class="input-group col-12 pt34">
            <div class="col-12">
                <label for="additonaltime">Additonal time</label>
            </div>

            <input id="additonaltime" type="number" [(ngModel)]="additionalTime">
        </div>

        <div class="float-start">
            <button (click)="calculateDate()">Calculate</button>
        </div>

    </div>

    <div class="col-4 float-start">
        <p-table [value]="holidays">

            <ng-template pTemplate="header">
                <tr>
                    <th>Date</th>
                    <th>Is recurring</th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-holiday let-index>
                <tr>
                    <td>{{ holiday.date | date: 'dd.MM.yyyy' }}</td>
                    <td>
                        <fa-icon *ngIf="holiday.recurring" [icon]="faCheck"></fa-icon>
                    </td>
                    <td>
                        <fa-icon [icon]="faTrashCan" (click)="deleteHoliday(index)"></fa-icon>
                    </td>
                </tr>

            </ng-template>
            <ng-template pTemplate="emptymessage">
                No holidays registered
            </ng-template>
        </p-table>
    </div>

    <div class="col-8 clearfix">
        {{ this.startDate | date: 'dd.MM.yyyy HH:mm' }} with the addition of {{ additionalTime }} working days is {{ this.calculatedDate | date: 'dd.MM.yyyy HH:mm'}}
    </div>
</div>
